<!-- app/views/people/index.html.erb -->
<% content_for :title, '登録一覧 - AgeMap' %>

<div class="container">
  <h1>登録一覧</h1>
  <ul>
    <% @people.each do |person| %>
      <li>
        <span><%= person.name %> (<%= person.birth_year %>)</span>
        <%= button_to '削除', person_path(person), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete-button' %>
      </li>
    <% end %>
  </ul>
  <a href="<%= root_path %>" class="back-button">戻る</a>
</div>
