<!-- app/views/users/index.html.erb -->
<% content_for :title, 'ユーザー一覧 - AgeMap' %>

<div class="container">
  <h1>ユーザー一覧</h1>
  <ul>
    <% @users.each do |user| %>
      <li>
        <span><%= user.name %> (<%= user.birth_year %>)</span>
        <%= button_to '削除', user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete-button' %>
      </li>
    <% end %>
  </ul>
  <a href="<%= root_path %>" class="back-button">戻る</a>
</div>

