<div class="container">
  <h1>過去の履歴</h1>

  <%= link_to '新しい年齢表を作成', new_age_table_path, class: 'btn btn-primary' %>

  <ul class="age-table-list">
    <% @age_tables.each do |age_table| %>
      <li>
        <%= age_table.table_title %>
        <%= link_to '削除', age_table_path(age_table), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </li>
    <% end %>
  </ul>
</div>
