/* app/assets/stylesheets/application.css */
a.no-underline {
    text-decoration: none !important;
}

a.no-underline:hover {
    text-decoration: none !important;
}

.form-group {
    margin-bottom: 15px; /* 任意の間隔に調整 */
    }
